<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
</head>

<title>SSPES</title>

<body>
    <div>Please enter your username</div>
    <!--TODO:
        make a good looking site, with:
        - something to display data (diagram or table)
        - a way to play the game in the browser
        - sexy css
        - maybe images
        - a fun easter egg
    -->
    <form action = "/statistic" method="POST">
        <input type="text" name="player_name" id="player_name" placeholder="Player">
        <input type="submit" value="Show Stats">
    </form>

</body>